/* .Bo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.Head {
  text-align: center;
  color: white;
  width: 100%;
}

.ToCan {
  text-align: center;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;

}

button {
  margin-right: 5px;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
}

.cuTa th,
.cuTa td {
  text-align: left;
  padding: 10px 70px;
  border-bottom: 1px solid #ccc;
}

.hi {
  background-color: #04AA6D;
  color: white;
  
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.review-link {
  display: inline-block;
  background-color: #21d4fd;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 5px;
  transition: background-color 0.3s;
}

.review-link:hover {
  background-color: #0d8ecf;
}

.contentabovefooter {
  margin-top: 20px;
  
  padding: 20px;
  background-color: #f0f0f0;
  
  border-radius: 8px;
  color: #333;
  
  text-align: center;
}

.app-footer {
  margin-top: 30px;
  
} */
.Bo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}
 
.Head {
  text-align: center;
  color: white;
  width: 100%;
}
 
.ToCan {
  text-align: center;
  color: white;
}
 
.cuTa {
  width: 100%;
  border-collapse: collapse;
}
 
th,
td {
  text-align: left;
  padding: 8px;
}
 
th {
  background-color: #04AA6D;
  color: white;
}
 
tr:nth-child(even) {
  background-color: #f2f2f2;
}
 
button.hi {
  margin-right: 5px;
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
 
.contentabovefooter {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  color: #333;
  text-align: center;
}
 
.app-footer {
  margin-top: 30px;
}
 
.trLight {
  background-color: #ffffff; /* Light color */
}
 
.trDark {
  background-color: #f2f2f2; /* Darker color */
}
.dialog-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the dialog box horizontally and vertically */
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  text-align: center;
}

.dialog-box p {
  margin: 0;
}

.dialog-box button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-box button:hover {
  background-color: #004080;
}
