body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  padding: 20px;
}

.nav-bar {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  text-decoration: underline;
}

.main-content {
  margin-top: 20px;
}

#tsparticles {
  height: 100vh; /* Set height to 100% of the viewport height */
}
