/* IdeaSubmissionForm.module.css */
.formContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.submission-form{
    margin-top:100px;
    padding:10px 500px;
}
.formTitle {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addButton,
.removeButton,
.submitButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.removeButton {
    background-color: #dc3545;
}

.addButton {
    display: block;
    width: 100%;
}

.submitButton:hover,
.addButton:hover,
.removeButton:hover {
    opacity: 0.8;
}

.disabledButton {
    background-color: #ccc;
    cursor: not-allowed;
}