@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #F0F0F0;
    }
}

.title-heading {
    border-right: .15em solid #F0F0F0;
    font-size: 2em;
    margin: 100px auto 0;
    /* Adjusted to add margin at the top for gap */
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 8s steps(40, end) infinite, blink-caret .75s step-end infinite;
    color: #F0F0F0;
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    flex: 1;
    padding: 20px;
    color: #EAEAEA;
    padding-top: 80px;
    /* scroll-snap-type: y mandatory */
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    
    /* Adjusted to ensure gap between navbar and content */
}

.description {
    font-size: 1.2em;
    max-width: 80%;
    margin-bottom: 30px;
    color: #EAEAEA;
}

.button {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45A049;
}

.start-home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    flex: 1;
    padding: 20px;
    color: #EAEAEA;
    /* padding-top: 80px; */
    scroll-snap-align: start;
    overflow: auto;
    z-index: 10 ;
} 
/* Home.css */

/* Existing styles */

.faq-section-container {
    margin: 80px auto;
    max-width: 1200px; /* Same max-width as .prize-section */
    padding: 40px;
    border-radius: 12px;
    background: rgba(10, 25, 47, 0.8); /* Same background color and transparency as .prize-section */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    overflow: hidden;
  }
  
  .faq-section-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }
  
  .faq-section {
    max-width: 100%; /* Make FAQ section width 100% */
    margin: 0 auto;
    text-align: center;
  }
  
  .faq-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff; /* Adjust text color to match */
  }
  
  .faq-section p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #ccc; /* Adjust text color to match */
  }
  
  .faq-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .faq-card {
    background: linear-gradient(135deg, #6e48aa, #9d50bb);
    color: #fff; /* Adjust text color to match */
    width: calc(50% - 20px); /* Adjust card width */
    margin-bottom: 20px; /* Add space between cards */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
    position: relative;
    overflow: hidden;
    height: auto; /* Adjust height */
  }
  
  .faq-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffffff22, #ffffff55);
    transition: left 0.3s ease;
  }
  
  .faq-card:hover::before {
    left: 100%;
  }
  
  .faq-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  .faq-card h3 {
    margin-bottom: 10px;
  }
  
  .faq-card p {
    margin-bottom: 0;
  }
  
  /* Remaining styles remain the same */
  /* Home.css */

.theme-section-container {
    margin: 80px auto;
    max-width: 1200px;
    padding: 40px;
    border-radius: 12px;
    background: rgba(10, 25, 47, 0.8);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    overflow: hidden;
  }
  
  .theme-section-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }
  
  .theme-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
  }
  
  .theme {
    background: linear-gradient(135deg, #6e48aa, #9d50bb);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
    position: relative;
    overflow: hidden;
    height: 320px;
  }
  
  .theme::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffffff22, #ffffff55);
    transition: left 0.3s ease;
  }
  
  .theme:hover::before {
    left: 100%;
  }
  
  .theme:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  .theme h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
  }
  
  .theme p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 1.6;
    color: #F0F0F0;
  }
  