/* Navbar.css */
.navbar {
    background: #333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-logo span {
    color: #4b59f7;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 2px solid #4b59f7;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        top: 80px;
        right: 0;
        width: 60%;
        height: 90vh;
        background: #333;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
}