@keyframes fadeIn {
  0% { opacity: 0; transform: scaleY(0); }
  100% { opacity: 1; transform: scaleY(1); }
}

.winning-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; /* Align items to the bottom */
  margin: 50px auto;
  /* Add background video */
  background-image: url('https://i.pinimg.com/originals/96/2f/b5/962fb5922d0e4085b2043a7b99120251.gif');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.bar {
  width: 250px; /* Increased width of the bars */
  height: auto; /* Auto height to accommodate content */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  position: relative; /* Added position relative */
}

.first {
  background-color: #ffd700; /* Gold */
  z-index: 2; /* Ensure first place is above second and third */
}

.second {
  background-color: #c0c0c0; /* Silver */
}

.third {
  background-color: #cd7f32; /* Bronze */
}

.bar h2 {
  font-size: 24px; /* Adjusted font size for headings */
  margin-bottom: 10px; /* Reduced margin for headings */
}

.bar p {
  font-size: 18px; /* Adjusted font size for paragraphs */
  margin-bottom: 10px; /* Added margin bottom for paragraphs */
}

.bar img {
  max-width: 100%; /* Ensure image does not exceed container width */
  margin-bottom: 10px; /* Added margin bottom for images */
}
