.auth-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    /* opacity: 0.5; */
}

.auths-card {
    background-color: transparent; 
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}

.auths-card h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="name"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
  
  .register-link {
    color: blue;
  }
  
  .login-btn {
    background-color: #007bff;
  }
  